.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white; 
}

.Table {
  display: block;
  align-items: left;
  text-align: left;
  padding-left: 2vw;
  padding-top: 5vh;
  float: left;
  width: 45%;
}

.Species-table {
  font-size: 15px;
  color: #282c34;
  overflow: auto;
  max-height: 70vh;
}

.Selected-species {
  background-color: #ddd;
}

.Species-table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.Table-header {
  padding-bottom: 2vh;
  font-size: 18px;
}

.Table-column {
  width: 18vw;
}

.Species-content {
  width: fit - content;
  flex-direction: column;
}


.Map {
  display: flex;
  flex-direction: column;
  float: right;
  max-width: 45%;
  padding-right: 2vw;
  padding-top: 5vh;
  max-height: 70vh;
}